from . import views
from dynamic_rest.routers import DynamicRouter
from inspect import isclass

router = DynamicRouter()
for name in dir(views):
    view = getattr(views, name, None)
    if (
        isclass(view) and
        hasattr(view, 'get_serializer_class')
    ):
        view_instance = view()
        serializer = view_instance.get_serializer_class()
        plural_name = serializer.get_plural_name()
        name = serializer.get_name()
        router.register(
            r'%s' % plural_name,
            view,
            name,
            namespace='{{version}}'
        )

urlpatterns = router.urls
