{% load rest_framework %}
{% load dynamic_rest %}
<table class="table drest-table-details">
  <tbody>
    {% for key in details %}
        {% if not results.serializer %}
            <td class="drest-field-label">
                {{ key }}
            </td>
            <td class="drest-field-value">
                {% get_value_from_dict results key %}
            </td>
        {% else %}
            {% get_field_value results.serializer results.serializer.instance key as field %}
            <tr class="drest-field">
                <td>
                    {% if field and field.help_text %}
                        <span data-placement="right" class="drest-field-label drest-has-tooltip" data-toggle="tooltip" data-trigger="click" title="{{ field.help_text }}">{{ field.label }}</span>
                    {% else %}
                        <span class="drest-field-label">{{ field.label }}</span>
                    {% endif %}
                </td>
                <td class="drest-field-value">
                    <div>
                        {{ field | render_field_value }}
                    </div>
                    {% if key in create_related_forms %}
                        <div class="drest-btn btn btn-primary" data-toggle="modal" data-target="#createModal-{{ key }}">
                            <span class="drest-btn-icon fa fa-plus" aria-hidden="true"></span>
                            <span class="drest-btn-label">Create</span>
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
  </tbody>
</table>
