{% load i18n %}
{% load rest_framework %}
{% load dynamic_rest %}

{% trans "No items to select." as no_items %}

<div class="row form-group {% if field.errors %}has-error{% endif %}">
  {% if field.label %}
    <label class="col-sm-2 form-control-label {% if style.hide_label %}sr-only{% endif %}">
        {% if field.help_text %}
            <span class="drest-has-tooltip" data-trigger="click" data-placement="right" data-toggle="tooltip" title="{{ field.help_text | safe }}">{{ field.label }}</span>
        {% else %}
          {{ field.label }}
        {% endif %}
    </label>
  {% endif %}

  <div class="col-sm-10">
    <select style="width: 100%" multiple="multiple" class="form-control" name="{{ field.name }}">
    </select>

    {% if field.errors %}
      {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    {% endif %}
  </div>
</div>

<script>
    $(document).ready(function() {
        // set initial values
        var values = {{field.value | to_json | safe}};
        var $el = $("select[name='{{ field.name }}']");
        for (var v in values) {
            var value = values[v];
            $el.append(
                '<option selected="selected">' + value + '</option>'
            );
        }
        $el.select2({
            tags: true,
            minimumInputLength: 1,
        });
    });
</script>
