{% load i18n %}
{% load rest_framework %}
{% load dynamic_rest %}

{% trans "No items to select." as no_items %}

<div class="row form-group {% if field.errors %}has-error{% endif %}">
  {% if field.label %}
    <label class="col-sm-2 form-control-label {% if style.hide_label %}sr-only{% endif %}">
        {% if field.help_text %}
            <span class="drest-has-tooltip" data-trigger="click" data-placement="right" data-toggle="tooltip" title="{{ field.help_text | safe }}">{{ field.label }}</span>
        {% else %}
            {{ field.label }}
        {% endif %}
    </label>
  {% endif %}

  <div class="col-sm-10">
    <select style="width: 100%" {% if field.many %}multiple="multiple"{% endif %} class="form-control" name="{{ field.name }}">
    </select>

    {% if field.errors %}
      {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    {% endif %}

  </div>
</div>

<script>
    $(document).ready(function() {
        var per_page = 25;
        // set initial values
        var values = {{field.value | as_id_to_name}};
        var selected = [];
        var initials = [];
        // get field/serializer info
        var fieldName = '{{ field.name }}';
        var nameField = '{{ field.get_name_field }}';
        var searchKey = '{{ field.get_search_key }}';
        var pkField = '{{ field.get_pk_field }}';
        var pluralName = '{{ field.get_plural_name }}';
        var url = '{{ field.get_url }}';
        var includes = [pkField];
        if (pkField !== nameField) {
            includes.push(nameField);
        }
        for (var s in values) {
            initials.push({id: s, name: values[s]});
            selected.push(s);
        }
        $("select[name='" + fieldName + "']").select2({
            data: initials,
            placeholder: {
                id: "",
                placeholder: ""
            },
            allowClear: true,
            ajax: {
                url: url,
                dataType: "json",
                delay: 250,
                data: function(params) {
                  var result = {
                    page: params.page,
                    per_page: per_page,
                  };
                  result[searchKey] = params.term;
                  result['include[]'] = includes;
                  return result;
                },
                processResults: function(data, params) {
                  params.page = params.page || 1;
                  var meta = data.meta;
                  var result = {
                    results: data[pluralName],
                    pagination: {
                      more: meta ? meta.page < meta.total_pages : false
                    }
                  };
                  return result;
                }
            },
            escapeMarkup: function(markup) {
                return markup;
            },
            templateResult: function(item) {
                if (item.placeholder) return item.placeholder;
                if (nameField == 'pk') {
                    return item.links ? item.links.self : item.id;
                }
                return item[nameField];
            },
            templateSelection: function(item) {
                if (item.placeholder) return item.placeholder;
                if (nameField == 'pk') {
                    return item.links ? item.links.self : item.id;
                }
                return item[nameField];
            },
            minimumInputLength: 1,
        }).val(selected).trigger('change');
    });
</script>
