.drest-content-container {
    position: fixed;
    top: 50px;
    bottom: 50px;
    right: 0;
    left: 0;
}
.drest-content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow-y: scroll;
}
.drest-nav {
    justify-content: space-between;
    flex-direction: row;
}
.drest-nav-edge {
    flex: 0 0 auto;
}

.drest-nav-center {
    flex: 1 1 auto;
    text-align: center;
}

.drest-logo {
    width: 30px;
}

.stacktable.small-only {
    border: 1px solid #aaa;
}
