{% load staticfiles %}
{% load i18n %}
{% load rest_framework %}
{% load dynamic_rest %}

<!DOCTYPE html>
<html lang="en">
    {% block head %}
        <head>
            {% block meta %}
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
                <meta name="robots" content="NONE,NOARCHIVE" />
                <meta name="viewport" content="width=device-width, initial-scale=1">
            {% endblock %}

            <title>
                {% block title %}
                    {{ title }}
                {% endblock %}
            </title>

            {% block style %}
                {% block bootstrap_css %}
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
                {% endblock %}
                {% block fontawesome_css %}
                    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
                {% endblock %}
                <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css"/>
                <link rel="stylesheet" type="text/css" href="{% static "dynamic_rest/css/stacktable.css" %}"/>
                <link rel="stylesheet" type="text/css" href="{% static "dynamic_rest/css/custom.css" %}"/>
            {% endblock %}

            {% block jquery %}
                <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
            {% endblock %}
        </head>
    {% endblock %} <!-- /head -->

    {% block body %}
        <body>
            {% block header %}
                <nav class="navbar navbar-inverse bg-primary fixed-top">
                    <div class="navbar-nav drest-nav">
                        <div class="navbar-brand drest-nav-left">
                            <div {% if style != 'directory' %}data-toggle="modal" data-target="#directoryModal"{% endif %} id="drest-navbar-menu-btn">
                                {% block brand %}
                                    <img class="drest-logo" src="{% static "dynamic_rest/img/logo.svg" %}" alt="Logo" />
                                {% endblock %}
                            </div>
                        </div>
                        <div class="nav-item drest-nav-center active">
                                <span class="nav-link">
                                    {% if header %}
                                        {% if description %}
                                            <span class="drest-has-tooltip" data-trigger="click" data-toggle="tooltip" data-placement="bottom" title="{{ description }}">{{ header }}</span>
                                        {% else %}
                                            <span>{{ header }}</span>
                                        {% endif %}
                                    {% endif %}
                                </span>
                        </div>

                        <div class="nav-item drest-nav-right">
                            {% if allow_filter %}
                                <div data-toggle="modal" data-target="#filtersModal" class="btn btn-primary drest-btn {% if num_filters %}active{% endif %}">
                                    <span class="fa fa-search drest-btn-icon"></span>
                                    <span class="drest-btn-label">{% if num_filters %}{{ num_filters }}{% else %}Find{% endif %}</span>
                                </div>
                            {% endif %}
                            {% if back %}
                                <a class="nav-link drest-btn" href="{{back_url}}">
                                    <span class="fa fa-arrow-left drest-btn-icon"></span>
                                    <span class="drest-btn-label">{{back}}</span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            {% endblock %} <!-- /header -->

            {% block content %}
                <div class="drest-content-container">
                    <div class="drest-content">
                        {% if is_auth_error %}
                            <div class="text">
                                You are not authorized to view
                                this page. Try to login.
                            </div>
                        {% else %}
                            {% if style == 'list' %}
                                {% include "dynamic_rest/admin/list.html" %}
                            {% else %}
                                {% if style == 'directory' %}
                                    {% include "dynamic_rest/admin/directory.html" %}
                                {% else %}
                                    {% include "dynamic_rest/admin/detail.html" %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endblock %} <!-- /content -->

            {% block alert %}
                {% if alert %}
                    <div class="alert alert-dismissable drest-nav-alert alert-{{alert_class}}">
                        <span>{{ alert }}</span>
                        <span class="close" data-dismiss="alert" aria-label="close">&times;</span>
                    </div>
                {% endif %}
            {% endblock %}

            {% block footer %}
                <nav class="navbar bg-faded fixed-bottom">
                    <div class="navbar-nav drest-nav">
                        <div class="nav-item drest-nav-left">
                            {% if allow_delete %}
                                <div data-toggle="modal" data-target="#deleteModal" class="drest-btn btn btn-danger">
                                    <span class="drest-btn-icon fa fa-remove" aria-hidden="true"></span>
                                    <span class="drest-btn-label">Delete</span>
                                </div>
                            {% endif %}
                        </div>
                        <div class="nav-item">
                            {% if paginator %}
                                {% get_pagination_html paginator %}
                            {% endif %}
                        </div>
                        <div class="nav-item drest-nav-right">
                            {% if allow_create %}
                                <div class="drest-btn btn btn-primary" data-toggle="modal" data-target="#createModal">
                                    <span class="drest-btn-icon fa fa-plus" aria-hidden="true"></span>
                                    <span class="drest-btn-label">Create</span>
                                </div>
                            {% endif %}
                            {% if allow_edit %}
                                <div class="btn btn-primary drest-btn" data-toggle="modal" data-target="#editModal">
                                    <span class="drest-btn-icon fa fa-pencil" aria-hidden="true"></span>
                                    <span class="drest-btn-label">Edit</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            {% endblock %} <!-- /footer -->
            {% block create_related_modals %}
                {% for related_name, serializer_and_form in create_related_forms.items %}
                    <div class="modal fade" id="createModal-{{ related_name }}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header bg-info">
                                    <h4 class="modal-title">
                                        <span class="fa fa-plus"></span>
                                        <span>Create {{ serializer_and_form.0.get_name | humanize }}</span>
                                    </h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form action="{{ serializer | get_related_url:related_name }}/" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
                                    <div class="modal-body">
                                        <fieldset>
                                            {% csrf_token %}
                                            <div class="form-group row">
                                                <label class="form-control-label col-sm-2">
                                                    {{ singular_name }}
                                                </label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="text" disabled name="{{ related_name }}" value="{{ name }}"></input>
                                                </div>
                                            </div>
                                            {{ serializer_and_form.1 }}
                                        </fieldset>
                                    </div>
                                    <div class="modal-footer bg-faded">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endblock %}
            {% block directory_modal %}
                <div class="modal fade" id="directoryModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <h4 class="modal-title">
                                    <span class="fa fa-map-o"></span>
                                    <span>{{ api_name }}</span>
                                <h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {% include "dynamic_rest/admin/directory.html" %}
                            </div>
                        </div>
                    </div>
                </div>

            {% endblock %}
            {% block create_modal %}
                <div class="modal fade" id="createModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-info">
                                <h4 class="modal-title">
                                    <span class="fa fa-plus"></span>
                                    <span>Create {{ singular_name }}</span>
                                </h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
                                <div class="modal-body">
                                    <fieldset>
                                        {% csrf_token %}
                                        {{ post_form }}
                                    </fieldset>
                                </div>
                                <div class="modal-footer bg-faded">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endblock %} <!-- /create_modal -->

            {% block delete_modal %}
                <div class="modal fade" id="deleteModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-danger">
                                <h4 class="modal-title">
                                    <span class="fa fa-remove"></span>
                                    <span>Delete {{ title }}</span>
                                </h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="{{ request.get_full_path }}" method="DELETE" enctype="multipart/form-data" class="form-horizontal" novalidate>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete?</p>
                                    <p class="text-danger">
                                        <span class="fa fa-exclamation-triangle"></span>
                                        <span>This operation cannot be undone!</span>
                                    </p>

                                </div>
                                <div class="modal-footer bg-faded">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-danger btn-primary">Confirm</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endblock %} <!-- /delete_modal -->

            {% block edit_modal %}
                <div class="modal fade" id="editModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-info">
                                <h4 class="modal-title">
                                    <span class="fa fa-pencil"></span>
                                    <span>Edit {{ title }}</span>
                                </h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="{{ request.get_full_path }}" method="PUT" data-method="PUT" enctype="multipart/form-data" class="form-horizontal" novalidate>
                                <div class="modal-body">
                                    <fieldset>
                                        {{ put_form }}
                                    </fieldset>
                                </div>
                                <div class="modal-footer bg-faded">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endblock %} <!-- /edit_modal -->

            {% block error_form %}
                {% if error_form %}
                    <div class="modal" id="errorModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header bg-info">
                                    <h4 class="modal-title">{{ error_title }}</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form action="{{ request.get_full_path }}" method="{{ request.method }}" data-method="{{ request.method }}" enctype="multipart/form-data" class="form-horizontal" novalidate>
                                    <div class="modal-body">
                                        <fieldset>
                                            {{ error_form }}
                                        </fieldset>
                                    </div>
                                    <div class="modal-footer bg-faded">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endblock %} <!-- /error_form -->

            {% block filter_form %}
                <div class="modal fade" id="filtersModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-info">
                                <div class="modal-title">
                                    <h4>
                                        <span class="fa fa-search"></span>
                                        <span>Find {{plural_name}}</span>
                                    </h4>
                                </div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form class="filter-form" method="get" action="{{ request.get_full_path }}">
                                <div class="modal-body">
                                    <fieldset>
                                        {% for filter in filters.values %}
                                            {% render_filter filter %}
                                        {% endfor %}
                                    </fieldset>
                                </div>
                                <div class="modal-footer bg-faded">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="drest-apply-filters btn btn-primary">Apply</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% block script %}
                <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
                <script src="{% static "dynamic_rest/js/stacktable.js" %}"></script>
                <script src="{% static "rest_framework/js/ajax-form.js" %}"></script>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>

                <script>
                    window.drf = {
                        csrfHeaderName: "{{ csrf_header_name|default:'X-CSRFToken' }}",
                        csrfCookieName: "{{ csrf_cookie_name|default:'csrftoken' }}"
                    };
                    $(document).ready(function() {
                        // fix select2 + modal interaction
                        // see http://stackoverflow.com/questions/18487056/select2-doesnt-work-when-embedded-in-a-bootstrap-modal
                        $.fn.modal.Constructor.prototype._enforceFocus = function() {};
                        // initialize the form
                        $('form').ajaxForm();
                        // show the error modal
                        $('#errorModal').modal('show');
                        // enable responsible tables
                        $('.cardtable').cardtable();
                        $('.drest-nav-alert').delay(5000).slideUp(200, function() {
                            $(this).alert('close');
                        });
                        $('[data-toggle="tooltip"]').tooltip();
                        $('.drest-content-container').show();

                        var spin = function() {
                                var opts = {
                                  lines: 7,
                                  length: 0, // The length of each line
                                  width: 20, // The line thickness
                                  radius: 25, // The radius of the inner circle
                                  scale: 0.8, // Scales overall size of the spinner
                                  corners: 1, // Corner roundness (0..1)
                                  color: '#000000', // CSS color or array of colors
                                  fadeColor: 'transparent', // CSS color or array of colors
                                  opacity: 0, // Opacity of the lines
                                  rotate: 0, // The rotation offset
                                  direction: 1, // 1: clockwise, -1: counterclockwise
                                  speed: 1.5, // Rounds per second
                                  trail: 95, // Afterglow percentage
                                  fps: 20, // Frames per second when using setTimeout() as a fallback in IE 9
                                  zIndex: 2e9, // The z-index (defaults to 2000000000)
                                  className: 'spinner', // The CSS class to assign to the spinner
                                  top: '50%', // Top position relative to parent
                                  left: '50%', // Left position relative to parent
                                  shadow: null, // Box-shadow for the lines
                                  position: 'absolute' // Element positioning
                                };
                                var spinner = new Spinner(opts).spin(document.body);
                      };
                      $('a').not('.no-spin').click(spin);
                      $('button[type="submit"]').click(spin);
                    });
                </script>
            {% endblock %} <!-- /script -->
        </body>
    {% endblock %} <!-- /body -->
</html>
