{% load staticfiles %}
{% load i18n %}
{% load rest_framework %}

<!DOCTYPE html>
<html lang="en">

    {% block head %}
        <head>
            {% block meta %}
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
                <meta name="robots" content="NONE,NOARCHIVE" />
            {% endblock %}

            <title>
                {% block title %}
                    Admin API
                {% endblock %}
            </title>

            {% block style %}
                {% block bootstrap_css %}
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
                {% endblock %}
                <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css"/>
                <link rel="stylesheet" type="text/css" href="{% static "dynamic_rest/css/stacktable.css" %}"/>
                <link rel="stylesheet" type="text/css" href="{% static "dynamic_rest/css/custom.css" %}"/>
            {% endblock %}

            {% block jquery %}
                <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
            {% endblock %}
        </head>
    {% endblock %} <!-- /head -->

    {% block body %}
        <body>
            {% block header %}
                <nav class="navbar navbar-inverse bg-primary fixed-top">
                    <div class="navbar-nav drest-nav">
                        <div class="navbar-brand drest-nav-edge">
                            {% block brand %}
                                <a href="/">
                                    <img class="drest-logo" src="{% static "dynamic_rest/img/logo.svg" %}" alt="Logo" />
                                </a>
                            {% endblock %}
                        </div>
                        <div class="nav-item drest-nav-center active">
                            <a class="nav-link">
                                Dogs
                            </a>
                        </div>

                        <div class="nav-item drest-nav-edge">
                                <div class="btn btn-secondary">
                                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                    Login
                                </div>
                                {% if user.is_authenticated %}
                                    {% optional_logout request user %}
                                {% else %}
                                    {% optional_login request %}
                                {% endif %}
                        </div>
                    </div>
                </nav>
            {% endblock %} <!-- /header -->

            {% block content %}
                <div class="drest-content-container">
                    <div class="drest-content">
                        {% if style == 'list' %}
                            {% include "dynamic_rest/admin/list.html" %}
                        {% else %}
                            {% if style == 'root' %}
                                {% include "dynamic_rest/admin/root.html" %}
                            {% else %}
                                {% include "dynamic_rest/admin/detail.html" %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endblock %} <!-- /content -->

            {% block footer %}
                <nav class="navbar navbar-inverse bg-faded fixed-bottom">
                    <div class="navbar-nav drest-nav">
                        <div class="nav-item drest-nav-edge">
                            {% if filter_form and allow_filter %}
                                <div data-toggle="modal" data-target="#filtersModal" class="btn btn-secondary">
                                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                    Filter
                                </div>
                            {% endif %}
                            {% if put_form and allow_edit %}
                                <div class="btn btn-primary" data-toggle="modal" data-target="#editModal">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    Edit
                                </div>
                            {% endif %}
                        </div>
                        <div class="nav-item">
                            {% if paginator %}
                                {% get_pagination_html paginator %}
                            {% endif %}
                        </div>
                        <div class="nav-item drest-nav-edge">
                            {% if post_form and allow_create %}
                                <div class="btn btn-primary" data-toggle="modal" data-target="#createModal">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    Create
                                </div>
                            {% endif %}
                            {% if style == 'detail' and allow_delete %}
                                <div class="btn btn-danger">
                                    <form action="{{ request.get_full_path }}" method="DELETE" data-method="DELETE">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        Delete
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            {% endblock %} <!-- /footer -->

            {% block create_modal %}
                <div class="modal fade" id="createModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Create</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
                                <div class="modal-body">
                                    <fieldset>
                                        {% csrf_token %}
                                        {{ post_form }}
                                    </fieldset>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endblock %} <!-- /create_modal -->

            {% block edit_modal %}
                <div class="modal fade" id="editModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Edit</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="{{ request.get_full_path }}" method="PUT" data-method="PUT" enctype="multipart/form-data" class="form-horizontal" novalidate>
                                <div class="modal-body">
                                    <fieldset>
                                        {{ put_form }}
                                    </fieldset>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endblock %} <!-- /edit_modal -->

            {% block error_form %}
                {% if error_form %}
                    <div class="modal" id="errorModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">{{ error_title }}</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form action="{{ request.get_full_path }}" method="{{ request.method }}" data-method="{{ request.method }}" enctype="multipart/form-data" class="form-horizontal" novalidate>
                                    <div class="modal-body">
                                        <fieldset>
                                            {{ error_form }}
                                        </fieldset>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endblock %} <!-- /error_form -->

            {% if filter_form %}
                {{ filter_form }}
            {% endif %} <!-- /filter_form -->

            {% block script %}
                <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
                <script src="{% static "dynamic_rest/js/stacktable.js" %}"></script>
                <script src="{% static "rest_framework/js/ajax-form.js" %}"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>

                <script>
                    window.drf = {
                        csrfHeaderName: "{{ csrf_header_name|default:'X-CSRFToken' }}",
                        csrfCookieName: "{{ csrf_cookie_name|default:'csrftoken' }}"
                    };
                    $(document).ready(function() {
                        // fix select2 + modal interaction
                        // see http://stackoverflow.com/questions/18487056/select2-doesnt-work-when-embedded-in-a-bootstrap-modal
                        $.fn.modal.Constructor.prototype._enforceFocus = function() {};
                        // initialize the form
                        $('form').ajaxForm();
                        // show the error modal
                        $('#errorModal').modal('show');
                    });
                </script>
            {% endblock %} <!-- /script -->
        </body>
    {% endblock %} <!-- /body -->
</html>
